/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  --primary-color: #E4E9F7;
  --white-color:#fff;
  --black-color:#18191a;
  --red-color:#E24D4C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background: var(--primary-color);
}
body.dark {
  --primary-color: #292a2b;
  --white-color:#18191a;
  --black-color:#fff;
  --red-color:#E24D4C;
}

.wrapper {
  border-radius: 20px;
  padding: 35px 40px;
  background: var(--black-color);
}
.wrapper header {
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper header h2 {
  font-size: 1.6rem;
}
.wrapper header .column {
  display: flex;
  align-items: center;
}
.wrapper header .column span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}
.wrapper header .volume-slider input {
  outline: none;
  accent-color: var(--white-color);
}
.wrapper header .keys-checkbox input {
  width: 60px;
  height: 30px;
  outline: none;
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 30px;
  background: #4b4b4b;
}
.wrapper header .keys-checkbox input:checked::before {
  left: 35px;
  background: #fff;
}
.wrapper header .keys-checkbox input::before {
  content: "";
  height: 20px;
  width: 20px;
  top: 50%;
  left: 5px;
  border-radius: inherit;
  position: absolute;
  background: #8c8c8c;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.wrapper .piano-keys {
  display: flex;
  margin-top: 40px;
}
.wrapper .piano-keys .key {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  list-style: none;
  color: var(--primary-color);
  position: relative;
  text-transform: uppercase;
}
.wrapper .piano-keys .key.hide span {
  display: none;
}
.wrapper .piano-keys .black {
  width: 44px;
  height: 140px;
  z-index: 2;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333 96%, #000 4%);
}
.wrapper .piano-keys .black.active {
  box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom, #000, #434343);
}
.wrapper .piano-keys .white {
  width: 70px;
  height: 230px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}
.wrapper .piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.wrapper .piano-keys span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 1.13rem;
  text-align: center;
}

@media screen and (max-width: 815px) {
  .wrapper {
    padding: 25px;
  }
  header {
    flex-direction: column;
  }
  header :where(h2, .column) {
    margin-bottom: 13px;
  }
  .volume-slider input {
    max-width: 100px;
  }
  .piano-keys {
    margin-top: 20px;
  }
  .piano-keys .key:where(:nth-child(9), :nth-child(10)) {
    display: none;
  }
  .piano-keys .black {
    height: 100px;
    width: 40px;
    margin: 0 -20px 0 -20px;
  }
  .piano-keys .white {
    height: 180px;
    width: 60px;
  }
}
@media screen and (max-width: 615px) {
  .piano-keys .key:nth-child(13),
  .piano-keys .key:nth-child(14),
  .piano-keys .key:nth-child(15),
  .piano-keys .key:nth-child(16),
  .piano-keys .key :nth-child(17) {
    display: none;
  }
  .piano-keys .white {
    width: 50px;
  }
}/*# sourceMappingURL=styles.css.map */